@import 'reset';
@import 'variables/global';
@import './themes/dark';
@import './themes/light';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--color-primary);
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
}

.content-page {
  flex-grow: 1;
  padding: 20px;
}