.LoginForm {
	width: 400px;
}

.form {
	display: flex;
	flex-direction: column;
}

.formName {
	margin-bottom: 15px;
	text-align: center;
}

.input {
	margin-top: 15px;
}

.formBtn {
	margin-top: 15px;
	margin-left: auto;
}
