.Sidebar {
  background-color: var(--inverted-bg-color);
  width: var(--sidebar-with);
  height: calc(100vh - var(--navbar-height));
  transition: width 0.3s;
  padding: 20px;
  position: relative;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;
  margin-left: 10px;
}

.linkText {
  transition: width 0.1s ease-in-out;
}

.icon {
  fill: var(--inverted-color-primary);
}

.collapsedBtn {
  position: absolute;
  bottom: 100px;
  right: -40px;
}

.switchers {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.lang {
  color: var(--inverted-color-primary);
}

.collapsed {
  width: var(--sidebar-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .link {
    align-items: flex-start;
  }

  .linkText {
    opacity: 0;
    width: 0;
  }
}
