.Navbar {
	display: flex;
	align-items: center;
	height: var(--navbar-height);
	background-color: var(--inverted-bg-color);
}

.items {
	display: flex;
	align-items: center;
	padding: 0 20px;
	margin-left: auto;
}

.btn {
	color: var(--inverted-color-primary);
}
