.InputWrapper {
	display: flex;
	align-items: center;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	color: transparent;
	background: transparent;
	text-shadow: 0 0 0 var(--inverted-color-primary);

	&:focus {
		outline: none;
	}
}

.placeholder {
	margin-right: 5px;
}

.caretWrapper {
	position: relative;
	flex-grow: 1;
}

.caret {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 9px;
	height: 3px;
	background: var(--inverted-color-primary);
	animation: blink 0.7s forwards infinite;
}


@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
